@model Insureity_Portal.Models.ViewBusinessProperty

@{
    ViewData["Title"] = "View Business Property";
}

<div>
    <a asp-action="CreateBusinessPropertyRequest" asp-controller="Consumer" class="btn btn-primary">Create Business Property</a>&nbsp;
</div>
<hr />
<h4>View Business Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewBusinessPropertyRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsumerId" class="control-label"></label>
                <input asp-for="ConsumerId" class="form-control" />
                <span asp-validation-for="ConsumerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label"></label>
                <input asp-for="PropertyId" class="form-control" />
                <span asp-validation-for="PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="View Business Property" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
