@model Insureity_Portal.Models.CreatePolicy

@{
    ViewData["Title"] = "CreatePolicyRequest";
}

<h4>Create Policy</h4>
<hr />

    
<form asp-action="CreatePolicyRequest">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsumerId" class="control-label"></label>
                <input asp-for="ConsumerId" class="form-control" />
                <span asp-validation-for="ConsumerId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="BusinessId" class="control-label"></label>
                <input asp-for="BusinessId" class="form-control" />
                <span asp-validation-for="BusinessId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AcceptedQuotes" class="control-label"></label>
                <input asp-for="AcceptedQuotes" class="form-control" />
                <span asp-validation-for="AcceptedQuotes" class="text-danger"></span>
            </div>
        </div>
    </div>

        <div class="form-group">
            <input type="submit" value="Create Policy" class="btn btn-success d-block justify-content-center" />
        </div>
</form>
    


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
