@model Insureity_Portal.Models.GetQuotes

@{
    ViewData["Title"] = "GetQuotesRequest";
}

<h4>GetQuotes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetQuotesRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BusinessValue" class="control-label"></label>
                <input asp-for="BusinessValue" class="form-control" />
                <span asp-validation-for="BusinessValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyValue" class="control-label"></label>
                <input asp-for="PropertyValue" class="form-control" />
                <span asp-validation-for="PropertyValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyType" class="control-label"></label>
                <Select asp-for="PropertyType" class="form-control">
                    <option value="Building">Building</option>
                    <option value="Factory Equipment">Factory Equipment</option>
                    <option value="Property In Transit">Property In Transit</option>
                </Select>
                <span asp-validation-for="PropertyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Get Quotes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
