
@{
    ViewData["Title"] = "Quote";
}

<div class="container p-3 rounded bg-secondary text-white" style="border-radius : 50px; text-align : center;">
    @*<h1>Quotes value is  = &#x20b9; @ViewBag.quote/- </h1>*@
    <h1>@ViewBag.quote</h1>
</div>