@{
    ViewData["Title"] = "Success";
}

<div class="container p-3 rounded bg-secondary text-white" style="border-radius : 50px; text-align : center;">
    <h1>@ViewBag.Result</h1>
</div>
<hr />
<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Back To Home</a>&nbsp;
</div>