@model Insureity_Portal.Models.ViewPolicy

@{
    ViewData["Title"] = "View Policy";
}

<h4>View Policy</h4>
<hr />

    
<form asp-action="ViewPolicyRequest">
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsumerId" class="control-label"></label>
                <input asp-for="ConsumerId" class="form-control" />
                <span asp-validation-for="ConsumerId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">

            <div class="form-group">
                <label asp-for="BusinessId" class="control-label"></label>
                <input asp-for="BusinessId" class="form-control" />
                <span asp-validation-for="BusinessId" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label asp-for="PolicyId" class="control-label"></label>
                <input asp-for="PolicyId" class="form-control" />
                <span asp-validation-for="PolicyId" class="text-danger"></span>
            </div>
        </div>
    </div>
        <div class="form-group">
            <input type="submit" value="View Policy Details" class="btn btn-success btn-outline-dark d-block justify-content-center" />
        </div>
</form>
    


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
